header {
  text-align: center
}

#heading{}
  font-family: sans-serif;sans serif;
  background-color:
  color: #45a29e;
}

header {text-align: center;}
  text-align:grey;
  background-color:black 
}<article>background-color

footer {
  background-color:rgb(50 90, 90) hsl(120, 26%, 4%);
  text-align: center;heading
}
h1 {
  color: yellow;
  background-color: blue;
}
body {
  font-size: 14px;
  color: navy;
}

h1 {
  color: #ffc;
  background-color: #009;
}
