body{
  font-family: sans-serif;
  font-size: 110%;
  background-color:aliceblue;
  display: block;
  margin: 8px;
  flex-direction: column;
  border: 10px solid #D42;
}
header{
  justify-content: center;
  text-align: center;
  display: block;
  background-color :#1f2833;
  color: #ccc;
 

}
#heading{
  font-family: sans-serif;
  background-color: #1f2833;
  /* display: inline-flex; */
  padding: 1rem;
  color:#ccc;
}
#headshot{
  width: 15%;
  height:15%;
 border-radius: 50%;
  border: 3px ;
  position: relative;
  top :2px;
}
#element2{
  position : relative;
  left : 10px;
}
.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}
#sidebar {
width: 20%;
padding: rem;
background-color: #45462a;
color: aliceblue;
position: relative;
top: 20px;
}

#content{
  width: 50%;
  padding : 1rem;
  margin: 1rem;
}
.nav-menu{
   list-style-type: none;
   padding: 0;
   color: blanchedalmond;
  }
   /*TODO: Createa a top nav bar that is shown on small viewports*/
   /* @media screen and (min-width: 0px) {
     #nav-menu { display: block; }
   }*/
footer{
  background-color: #343330;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  
}
#icon {
width:1px;
margin: 0.5rem;
height: auto;
border-radius: 20px;
}
a:link{
  color: inherit;
}

}